* {
	font-family: 'Roboto', sans-serif;
}
html {
	margin: 0px;
	height: 100%;
	width: 100%;
}
body {
	background-color: rgb(35, 34, 39);
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
h1 {
	color: rgb(94, 94, 98);
}
.big {
	font-weight: 900;
}
button {
	background-color: rgb(22, 93, 210);
	color: rgb(254, 254, 255);
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0.5em;
	width: 20em;
	flex-grow: 1;
}
.active {
	background-color: rgb(22, 93, 210);
	color: rgb(254, 254, 255);
}
.unactive {
	background-color: rgb(47, 47, 56);
	color: rgb(254, 254, 255);
}

.accent-color {
	color: #f3f4ed;
}
.small {
	font-size: small;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	width: auto;
	border: 3px solid green;
}

.control {
	width: 100%;
	height: 100%;
}
.control img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.skip-right {
	transform: rotate(180deg);
}

#times,
#sessions {
	display: flex;
	flex-direction: row;
	width: 266.9px;
}

#drawBtn {
	margin-top: 10px;
}

#exit {
	transform: rotate(180deg);
	width: 39px;
	height: 39px;
}

#starting-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	-webkit-align-items: center;
}

#figure-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 40em;
	height: 100%;
	min-width: 3em;
	min-height: 3em;
	align-items: center;
	justify-items: center;
	margin: auto;
}
#figure {
	flex-grow: 2;
}

#controls {
	flex-grow: 1;
	display: flex;
	align-items: baseline;
	align-items: flex-end;
}
